BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.markers.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.indexes/e4/b9/22/c3/history.index
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/fc/30f820bf648600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/fb/5042c65b688600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/ef/e065b2fe668600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/e5/b0f2947c638600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/e0/604163b9688600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/e0/406a839f688600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/d6/d0d8f3ca558600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/d3/00357e67668600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/c5/206ad3c26a8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/b6/c077f8b4698600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/b2/0053195f6a8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/af/5073a76d6c8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/99/c0ff9d1b4e8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/74/5089e94b638600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/55/d0d1a4426b8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/4e/50c5f318648600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/31/c03832214e8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/29/00003e4c658600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/26/f024f042668600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/15/40ef1ca3698600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/1/e0afe95a668600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.log
BGG Maven_WebP/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BGG Maven_WebP/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.syncinfo.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.core/2214673241.index
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.jdt/BGG.container
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_f
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e.cfs
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_d.cfs
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_c_1.del
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_a_2.del
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/35f98f42e744ecfe1551cef4facddeae/segments_k
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/35f98f42e744ecfe1551cef4facddeae/segments.gen
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/35f98f42e744ecfe1551cef4facddeae/_k.cfs
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_8
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments.gen
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_6.cfs
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_5_1.del
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/2067904622.index
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.core/1146077901.index
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.markers
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.indexes/history.index
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.indexes/e4/b9/22/47/history.index
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/f8/d0486c0e15870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/bb/d071d84011870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/b1/b03e9ba415870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/a5/909c10f313870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/98/0003c8c611870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/8/d09aba5f14870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/7f/c0144ad315870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/6a/70e4c9d013870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/4e/40b509b409870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/4c/80eb884212870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/45/a04f468614870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/31/50c610af13870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/23/401eec4513870017162294f661f6adbe
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/1d/3052012f798600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
BGG Maven_WebP/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/org.eclipse.wst.jsdt.core/state.dat
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/org.eclipse.jdt.core/state.dat
BGG Maven_WebP/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
BGG Maven_WebP/.metadata/.plugins/org.eclipse.team.cvs.core/.running
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_g
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_f.cfs
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e_1.del
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/35f98f42e744ecfe1551cef4facddeae/segments_l
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/35f98f42e744ecfe1551cef4facddeae/_l.cfs
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/35f98f42e744ecfe1551cef4facddeae/_k_1.del
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_9
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_7.cfs
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/_6_1.del
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.root/8.tree
BGG Maven_WebP/.metadata/.plugins/
