BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.markers.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.indexes/e4/b9/22/c3/history.index
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/fc/30f820bf648600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/fb/5042c65b688600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/ef/e065b2fe668600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/e5/b0f2947c638600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/e0/604163b9688600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/e0/406a839f688600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/d6/d0d8f3ca558600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/d3/00357e67668600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/c5/206ad3c26a8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/b6/c077f8b4698600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/b2/0053195f6a8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/af/5073a76d6c8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/99/c0ff9d1b4e8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/74/5089e94b638600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/55/d0d1a4426b8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/4e/50c5f318648600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/31/c03832214e8600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/29/00003e4c658600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/26/f024f042668600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/15/40ef1ca3698600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.history/1/e0afe95a668600171e9afa422c7cdc26
BGG Maven_WebP/.metadata/.log
BGG Maven_WebP/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BGG Maven_WebP/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/BGG/.syncinfo.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
BGG Maven_WebP/.metadata/.plugins/org.eclipse.jdt.core/2214673241.index
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
BGG Maven_WebP/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
